* {
    font-family: Cambria;

}
#baner, #footer {
    background-color: #829EB9;
    color: white;
    text-align: center;
    padding: 10px;
}
#footer{
    clear: both;
}
#lewy, #prawy {
    background-color: #B3C6D9;
    height: 400px;
    width: 25%;
    padding-top: 100px;
    float: left;
}
#srodek {
    background-color: #E0E9F1;
    height: 400px;
    width: 50%;
    text-align: center;
    padding-top: 100px;
    float: left;
}

#kolory {
    border: 1px solid DimGray;
    border-collapse: collapse;
    text-align: center;
    width: 80%;
    margin: auto;
}
#kolory td {
    border: 1px solid DimGray;
    border-collapse: collapse;
    text-align: center;
}
#kolory th {
    border: 1px solid DimGray;
    border-collapse: collapse;
    text-align: center;

}
#kolory th:hover{
    background-color: SteelBlue;
    color: white;
}
#kolory td:hover{
    background-color: SteelBlue;
    color: white;
}
#ProbkiObraz {
    width: 100%;
    border-image: round;
    border-radius: 20px;
}