* {
    font-family: Helvetica, serif;
    margin: 0;
}

#left1 {
    height: 400px;
    width: 70%;
    background-color: snow;
    text-align: center;
}
#left2{
    height: 400px;
    width: 70%;
    background-color: snow;
    font-size: 150%;
}
#prawy, #lewy{
    float: left;
}
#right1{
    height: 150px;
    width: 30%;
    background-color: steelblue;
    color: white;
    text-align: center;
}
#right2{
    height: 350px;
    width: 30%;
    background-color: steelblue;
    color: white;
}
#right3{
    height: 300px;
    width: 30%;
    background-color: snow;
    text-align: center;
}
footer{
    background-color: steelblue;
    color: white;
    clear: both;
}
h2{
    font-size: 250%;
}
img{
    padding: 4px;
}
img:hover{
    padding: 3px;
    border: 1px solid SteelBlue;
}