body {
    margin: 0;
    text-align: center;
    font-family: Cambria;
}
#baner{
    background-color: rgb(120, 0, 46);
    color: white;
    padding: 5px;
    font-size: 150%;
}
#menu{
    background-color: rgb(173, 20, 87);
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 50px;
    padding-left: 50px;
    color: yellowgreen;
}
#lewy{
    float: left;
    background-color: snow;
    color: olivedrab;
    width: 60%;
    height: 322px;
    text-align: left;
}
#godziny_otwarcia td {
    border: 1px solid olivedrab;
}
#godziny_otwarcia {
    width: 90%;
}
#prawy {
    float: left;
    background-color: rgb(173, 20, 87);
    width: 40%;
    height: 322px;
}
#auto {
    margin: 40px;
    padding: 10px;
}
#auto:hover{
    border: 1px dotted yellowgreen;
}
#stopka {
    clear: both;
    background-color: rgb(120, 0, 46);
    color: white;
    padding: 5px;
    font-size: 150%;
}